#main-content
{
 background-color: white !important;
}

div.inner-wrapper
{
	background-color: #4ebee3 !important;
}

div > #theme-header
{
	margin-bottom: 10px;
}

#wrapper
{

	margin-top: -20px;
}

div.header-content
{
	padding: 8px 15px;
}

#sidebar
{
	width: 20%;
}

div.content
{
	width: 78%;
}