#main-content
{
 background-color: white !important;
}

div.inner-wrapper
{
	background-color: #4ebee3 !important;
}

div > #theme-header
{
	margin-bottom: 10px;
}

#wrapper
{

	margin-top: -20px;
}

div.header-content
{
	padding: 8px 15px;
}


@media only screen { } /* Define mobile styles */



/*@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	#sidebar
	{
		width: 20% !important;
	}

	div.content
	{
		width: 78% !important;
	}
*/} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */



/*resize sidebar, main contain*/
@media only screen and (min-width: 64.063em) { 
	#sidebar
	{
		width: 20% !important;
	}

	div.content
	{
		width: 78% !important;
	}

	div.box_support div.row div.nick{
		padding-left: 0px !important;
	}

	/*mega menu*/
	div.main-menu div.mega-menu-block{
		background-color: #168eba !important;
		color: #fff !important;
	}

	div.main-menu div.mega-menu-block ul li{
		border-bottom-color: #fff !important;
	}

	div.main-menu div.mega-menu-block ul li a.mega-links-head{
		color: #FFFB01  !important;
	}

	div.main-menu div.mega-menu-block ul li a{
		color: #fff !important;
	}
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
	#sidebar
	{
		width: 20% !important;
	}

	div.content
	{
		width: 78% !important;
	}

	div.box_support div.row div.nick{
		padding-left: 0px !important;
	}

	/*mega menu*/
	div.main-menu div.mega-menu-block{
		background-color: #168eba !important;
		color: #fff !important;
	}

	div.main-menu div.mega-menu-block ul li{
		border-bottom-color: #fff !important;
	}

	div.main-menu div.mega-menu-block ul li a.mega-links-head{
		color: #FFFB01  !important;
	}

	div.main-menu div.mega-menu-block ul li a{
		color: #fff !important;
	}
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

@media only screen and (min-width: 90.063em) {
	#sidebar
	{
		width: 20% !important;
	}

	div.content
	{
		width: 78% !important;
	}

	div.box_support div.row div.nick{
		padding-left: 5px !important;
	}

	/*mega menu*/
	div.main-menu div.mega-menu-block{
		background-color: #168eba !important;
		color: #fff !important;
	}

	div.main-menu div.mega-menu-block ul li{
		border-bottom-color: #fff !important;
	}

	div.main-menu div.mega-menu-block ul li a.mega-links-head{
		color: #FFFB01  !important;
	}

	div.main-menu div.mega-menu-block ul li a{
		color: #fff !important;
	}
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */

@media only screen and (min-width: 320px) and (max-width: 479px) {
	div.header-content div.logo img{
		max-width: 95%;
	}
}

@media only screen and (min-width: 985px) and (max-width: 1025px) {
	#sidebar{
		width: 20% !important;
	}
	#main-content div.content{
		width: 78%;
	}
	div.box_support div.skype{
		float: none !important;
	}
}

/*resize copyright*/
div.inner-wrapper div.footer-bottom{
	line-height: 15px;
	padding: 5px 0px; 
} 


/*page tin tuc*/

div.post-listing div.post-thumbnail{
	float: left;
    width: 15%;
}

div.post-listing div.entry a.more-link{
	float: right;
}

div.post-listing .item-list{
	border: 2px solid #dbdbdb;
	padding: 5px;
	border-top: none;
    border-right: none;
    border-left: none;
}

div.page-head div.stripe-line{
	background: url(images/tpl/mid_title.gif) repeat-x left bottom;
    height: 14px;
    margin-top: 5px;
    width: 75%;
    float: right;
}

div.block-head div.stripe-line{
	background: url(images/tpl/mid_title.gif) repeat-x left bottom;
    height: 14px;
    margin-top: 5px;
    width: 80%;
    float: right;
}

div.block-head h3{
	color: #2363c9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}

div.related-item div.post-thumbnail img{
	float: left;
    margin-right: 15px;
    text-align: center;
    padding: 2px;
    border: 1px solid #cccccc;
    width: 90px;
    height: 70px;
}

#related_posts div.post-listing div.related-item{
	width: 45%;
	height: auto;
}

#related_posts div.post-listing div.related-item div.post-thumbnail{
	width: 25%;
	margin-right: 10px;
}

li#search-box-main-nav{
	float: right !important;
	margin-top: 4px;
}

div.page-head h1 {
	color: #dc1206;
    font-size: 14px;
    height: 18px;
    font-weight: bold;
    float: left;
    background: #ffffff;
    padding-right: 12px;
    text-transform: uppercase;
    /*margin-bottom: 20px;*/
    margin-top: 5px;
}

div.share-post span.share-text{
	font-family: arial;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
}

div.post-inner h1{
	color: #dc1206;
    font-size: 14px;
    height: 18px;
    font-weight: bold;
    float: left;
    background: url(images/tpl/mid_title.gif) repeat-x left bottom;
    padding-right: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 100%;
}

div.post-inner p.post-meta{
	display: none;
}


div.post-listing h2.post-box-title a{
	color: #003686;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

#crumbs{
	display: none;
}


div.content div.home-e3lan div.fluid-width-video-wrapper{
	width: 75%;
	margin: auto;
	height: 75%;
	margin-bottom: -70px;
}

div.content div.home-e3lan div.fluid-width-video-wrapper iframe{
	height: 75%;
}

