/* FOR BODY */
body{
	font-size: 12px;
    line-height: 150%;
    font-family: arial;
    /*color: #3c3c3c;*/
}
div#wrapper div.inner-wrapper div#main-content{
	background-color: #4ebee3 !important;
	margin-top: 0px;
	padding: 10px 0px;
}
div#main-content div.content{
	background-color: white !important;
	padding: 5px 10px;
}
div#main-content .cat-box-content, #sidebar .widget-container, .post-listing, #commentform{
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

/*FOR FOOTER*/
#theme-footer{
	color: white !important;
}
#theme-footer .footer-widget-top{
	color: #ffcc00;
}
#theme-footer .footer-widget-top h4{
	font-size: 12px;
    line-height: 150%;
    font-weight: bold;
}
#theme-footer .footer-widget-container td{
	font-size: 12px;
	line-height: 150%;
	color: white;
	vertical-align: top;
}
#theme-footer div div span{
}
#theme-footer .footer-widget-container td.yellow-text{
	color: #ffcc00;
}
div.soso-content div.banner_item {
    float: left;
    padding-left: 10px;
   	/*width: 20px;*/
    /*height: 20px;*/
    overflow: hidden;
}
footer div.footer-widget-container{
	border-top: none;
}
footer div.footer-widget-top{
	border-bottom: none;
}
div.inner-wrapper footer#theme-footer {
    margin-top: 0px;
    box-shadow: 0 0px 0 rgba(0, 0, 0, .1);
}

/* FOR CATEGORY LIST CUSTOM */
.cat-img{
	float: left;
	width: 15%;
}
.cat-img img{
	max-width: 100%;
	max-height: 100%;
}
.cat-info{
	float: right;
	width: 80%;
	text-align: left;
	padding: 4px;
}
.cat-title{
	color: #dc1206;
    font-size: 14px;
    height: 18px;
    font-weight: bold;
    float: left;
    background: #ffffff;
    padding-right: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 100%;
}
.cat-name a{
    color: #003686;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.cat-description{
	padding-top: 10px;
	font-size: 12px;
	line-height: 150%;
	color: #3c3c3c;
}

/*FOR SUPPORT */
.clear{
	/*clear: both;*/
}
.hr {
    border-top: 1px dotted #cccccc;
    height: 20px;
    margin-top: 0px;
}
.dot-dot{
	background: url(images/tpl/mid_title.gif) repeat-x left bottom;
    height: 14px;
}
.float-r{
	float: right;
}
.float-l{
	float: left;
}


/* FOR MODULE PRODUCT CATEGORY */
.module_title,#sidebar div.widget div.widget-top h4{
	margin: 0 0 0px 0;
    padding: 8px 10px 8px 20px;
    background: #fffc01;
    font-size: 14px;
    line-height: 18px;
    height: 34px;
    text-transform: uppercase;
    color: #0D8EC7;
    position: relative;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
}
#sidebar .widget .widget-top .stripe-line{
	display: none;
}
div.widget-top{
	padding: 0px;
}
#sidebar div.widget-container{
	background: #d4d4d4;
    /*margin-bottom: 16px;*/
    /*padding: 0px 0px 3px;*/
	padding: 5px 20px;
}
.module_title .module_icon{
	position: absolute;
    background: url(images/tpl/box_title_icon.png) no-repeat 0px 0px;
    width: 16px;
    height: 31px;
    top: 2px;
    left: 0px;
}
.module_content ul li, div.widget div.widget-container ul li{
	margin: 0 0 0px 0;
    padding: 2px 0px 0px 0px !important;
    background: url(images/tpl/menu_hr.gif) repeat-x center top;
}
div.widget div.widget-container ul li:first-child{
	padding-top: 0px;
	background: none;
}
div.widget div.widget-container ul li a{
	display: block;
    padding: 6px 0px 6px 0px;
    color: #000000;
    font-weight: bold;
}
.widget_categories .widget-container li:before, .widget_product_categories ul li:before{
	content: none;
}
.widget-top h4::before{
  content: url(images/tpl/box_title_icon.png);
  position: absolute; /*or absolute*/
  z-index: 100000; /*a number that's more than the modal box*/
  width: 16px;
  height: 31px;
  top: 2px;
  left: 0px;
}
div.widget div.widget-container ul li.current-cat a{
	/*text-decoration: underline;*/
	color: blue;
	font-style: italic;
}
div.post-inner.inside ul li > div{
	display: none;
}
div.post-inner.inside ul.products li.product{
	width: 30%;
    float: left;
}
div.post-inner.inside ul.products h3 {
    font-size: 10px;
    font-style: italic;
}

/* FOR NEWS */
div#breaking-news{
	height: 30px;
}
.breaking-news ul{
    /*margin-top: 10px;*/
    background: #ffffff;
    height: 30ppx;
    /*padding: 6px 0px;*/
    position: relative;
    border-left: 4px solid #feba01;
    position: relative;
}
.breaking-news ul a{
	display: block;
    float: left;
    margin: 0;
    font-size: 12px;
    /*padding: 0px 0px 0px 10px;*/
    padding-left: 10px;
    white-space: nowrap;
    color: #000;
    background: url(images/tpl/menu_icon.gif) no-repeat 0px 14px;
    margin-left: 20px;
}
div#breaking-news span.breaking-news-title{
	display: none;
}

/* FOR MODULE CATEGORY NEWS*/
#sidebar div.widget.arpw-widget-random div.widget-container{
	padding: 5px 10px;
}
div.widget.arpw-widget-random div.widget-container img.wp-post-image{
	width: 72px;
	height: 50px;
	margin: 5px 5px 5px 0px;
}
div.widget.arpw-widget-random div.widget-container li{
	padding: 5px !important;
}
div.widget.arpw-widget-random div.widget-container a{
	padding: 0px;
	font-weight: normal;
	font-size: 11px;
}

/* FOR CONTENT IN MAIN CLIENT */
div.cat-box-title h2 a{
	color: #dc1206;
    font-size: 14px;
    height: 18px;
    font-weight: bold;
    float: left;
    background: #ffffff;
    padding-right: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 100%;
}
div.cat-box-title div.stripe-line{
	background: url(images/tpl/mid_title.gif) repeat-x left bottom;
    height: 14px;
    margin-top: 0px;
}
div.cat-box-content li.first-news{
    display: none;
}
div.content div.cat-box-content{
    box-shadow: none;
}
div.cat-box-content li.other-news{
    float: left;
    width: 46%;
    border: 2px solid #dbdbdb;
    border-top: none;
    border-right: none;
    margin: 10px 10px 20px 0px;
    height: 100px;
}
div.cat-box-content li.other-news a{
	color: #003686;
}
div.cat-box-content li.other-news h3{
	color: #003686;
}

/* FOR SINGLE PRODUCT PAGE */
div.content nav.woocommerce-breadcrumb{
	display: none;
}
/* FOR PRODUCT CATEGORY DETAIL */
div.content div.post-inner h1.page-title{
	color: #dc1206;
    font-size: 14px;
    height: 18px;
    font-weight: bold;
    float: left;
    background: url(images/tpl/mid_title.gif)  repeat-x left bottom;;
    padding-right: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 100%;
}
div.post-inner div.left-content{
	float: left;
	width: 100%;
	padding: 5px;
}
div.post-inner div.pro-cat-gallery{
	float: right;
	width: 50%;
	padding: 5px;
	text-align: center;
}
div.post-inner div.pro-cat-gallery div.big-thum{
	max-width: 300px;
	max-height: 250px;
	border: 1px solid #cccccc;
}
div.post-inner div.pro-cat-gallery div.small-thums{
	text-align: center;
}
div.post-inner div.pro-cat-gallery div.small-thum{
	display: inline-block;
    margin: 5px;
    margin-bottom: 10px;
    float: left;
    width: 89px;
    text-align: center;
    color: #000000;
    border: 1px solid #cccccc;
}
div.post-inner p.woocommerce-result-count{
	display: none;
}
div.post-inner form{
	display: none;
}
div.post-inner ul.products{
	margin-bottom: 15px;
}
div.post-inner ul.products li.product{
	width: 45%;
	padding: 10px 0px 20px;
	margin-bottom: 0px;
}
div.post-inner ul.products li.product a.button{
	display: none;
}
div.post-inner ul.products  h3 {
    font-size: 12px;
    margin: 0px 0px 7px;
    text-transform: uppercase;
    color: #003686;
    font-weight: bold;
}
div.post-inner ul.products div.product-img{
    float: left;
    margin-right: 15px;
    text-align: center;
    padding: 2px;
    border: 1px solid #cccccc;
}
div.post-inner ul.products div.product-img img{
	width: 90px;
	height: 70px;
}
div.other-pro-cats{
	width: 80%;
}

/* FOR SHORTCODE OTHER PRODUCT CATEGORIES*/
div.other-pro-cats span.other-cat-name a{
	color: #ff0000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
}

/* FOR SHORTCODE CONTACT BUTTON*/
div.btn_contact a {
    display: inline-block;
    background: url(images/tpl/btn_contact_pro.png) no-repeat left top;
    height: 35px;
    line-height: 33px;
    padding-left: 15px;
    color: #000000;
    font-weight: bold;
}
div.btn_contact a span {
    display: inline-block;
    background: url(images/tpl/btn_contact_pro.png) no-repeat right -36px;
    height: 35px;
    padding-right: 29px;
}

/* FOR CONTENT IN CUSTOMER */
section.column2 div.cat-box-title h2 a{
	color: #dc1206;
    font-size: 14px;
    height: 18px;
    font-weight: bold;
    float: left;
    background: #ffffff;
    padding-right: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 100%;
}
section.column2 div.cat-box-title div.stripe-line{
	background: url(images/tpl/mid_title.gif) repeat-x left bottom;
    height: 14px;
    margin-top: 0px;
}
section.column2 div.cat-box-content li.first-news{
    display: none;
}
section.column2 div.content div.cat-box-content{
    box-shadow: none;
}
section.column2 div.cat-box-content li.other-news{
    float: left;
    width: 46%;
    border: 2px solid #dbdbdb;
    border-top: none;
    border-right: none;
    margin: 10px 10px 20px 0px;
    height: 100px;
}
section.column2 div.cat-box-content li.other-news a{
	color: #003686;
}
div.content section.column2{
	float: left;
	width: 100%;
}
div.content .home-e3lan div.wpcf7{
    /*clear: none;*/
    display: none;
    /*float: right;*/
    /*width: 55%;*/
    /*padding-right: 10px;*/
    /*text-align: left;*/
}
div.list_comment-title {
    color: #DC1206;
    font-weight: bold;
    padding-bottom: 10px;
}
div.content div.wpcf7 form input.wpcf7-submit {
    background: url(images/tpl/btn.gif) repeat-x top;
    height: 22px;
    border: none;
    padding: 0px !important;
    border-right: 1px solid #000000;
    color: #feba01 !important;
    cursor: pointer;
    font-size: 11px!important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px!important;
    min-width: 70px;
}
form div.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors{
	display: none !important;
}

/* FOR SHORTCODE ONLINE SUPPORT */
.box .box-content {
    padding: 5px 6px;
}
.box_support .row {
    /*padding: 5px 0px 8px;*/
 }
 .box_support .row .yahoo {
    float: left;
    padding-top: 2px;
    margin: auto;
}
.box_support .row .skype {
    float: left;
    margin: auto;
    padding-left: 15px;
}
div.hotline{
	padding-top: 5px;
}
div.hotline table tr td{
	text-align: left;
	font-size: 11px;
    font-family: arial;
    color: #3c3c3c;
}
div.hotline td.l-span{
	width: 50px;
	font-weight: bold;
}


/* FOR PRODUCT DETAIL */
div.content div.post-inner div.product h1.entry-title{
	color: #dc1206;
    font-size: 14px;
    height: 18px;
    font-weight: bold;
    float: left;
    background: url(images/tpl/mid_title.gif)  repeat-x left bottom;;
    padding-right: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 100%;
}
div.post-inner div.product div.woocommerce-tabs.wc-tabs-wrapper{
	float: left;
	width: 100%;
	padding: 5px;
}
div.post-inner div.product div.woocommerce-tabs.wc-tabs-wrapper ul.wc-tabs{
	display: none;
}
div.post-inner div.product div.woocommerce-tabs.wc-tabs-wrapper div.entry-content h2{
	display: none;
}
div.post-inner div.product div.related.products h2{
	display: none;
}
div.post-inner div.product div.images{
	float: right;
	width: 40%;
	padding: 5px;
	text-align: center;
	clear: none;
}
div.post-inner div.product span.posted_in a{
	font-weight: bold;
	color: blue;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 11px;
}
div.post-inner div.product div.woocommerce-tabs div.panel{
	float: none;
	width: 100%;
	padding-top: 20px;
}
/* FOR PRODUCT CATEGORY SLIDER */
div.container div.bx-wrapper div.bx-viewport{
	-webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding-left: 10px;
}
div.container div.bx-wrapper div.bx-controls div.bx-pager{
	display: none;
}
#carousel div.slide img{
	border: 1px solid #cccccc;
    padding: 2px;
    width: 95px;
    height: 62px;
    text-align: center;
    margin: auto;
}
#carousel div.slide span.slider-info{
	text-align: left;
}
#carousel div.slide span.slider-info div.slider-name{
	padding-top: 8px;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
#carousel div.slide span.slider-info div.slider-description{
	padding-top: 5px;
	font-size: 11px;
    line-height: 150%;
    font-family: arial;
    color: #3c3c3c;
}
div.container div.bx-wrapper div.bx-controls-direction a.bx-prev{
	/*left: -30px;*/
}
div.container div.bx-wrapper div.bx-controls-direction a.bx-next{
	/*right: -30px;*/
}

/* FOR MENU & SUBMENU */
nav#main-nav div.container div.main-menu ul.sub-menu > li.menu-item{
	background-color: #168eba !important;
	border-bottom-color: white;
}
nav#main-nav.fixed-nav.fixed-nav-appear {
	zoom: 0.75;
}
nav#main-nav.fixed-nav {
	zoom: 1;
}
#main-nav ul li a:hover, #main-nav ul ul a:hover, #main-nav ul.sub-menu a:hover, #main-nav ul li.current_page_parent ul a:hover, #main-nav ul li.current-menu-item ul a:hover, #main-nav ul li.current-menu-parent ul a:hover, #main-nav ul li.current-page-ancestor ul li > a:hover{
    color: #fffb01 !important;
}

#main-nav div.main-menu ul.menu li ul li.current-menu-item{
    border-width: 0px 0px 1px 0px !important;
}